<%- include("partials/header") %>

<div class="container">
    <h1>Change Password</h1>
    <form action="/password/<%= user._id %>?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="newPassword" class="form-label">Enter Your New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>
        <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Re-Enter Your New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>